.trend-card{
  width: calc(33.33% - 0.67rem);
  min-width: min(100%, 580px);
  color: var(--black);
  text-decoration: none;
  background-color: var(--gray-200);
  align-items: stretch;
  display: flex;
}

.trend-card-for-homepage{
  width: calc(33.33% - 0.67rem);
  min-width: min(100%, 580px);
  color: var(--black);
  text-decoration: none;
  background-color: var(--gray-200);
  align-items: stretch;
  display: flex;
}

.signal-card{
  width: calc(25% - 0.75rem);
  min-width: min(100%, 320px);
  color: var(--black);
  text-decoration: none;
  background-color: var(--gray-200);
  align-items: stretch;
  display: flex;
}

@media(min-width: 888px){
  .signal-card{
    width: calc(50% - 0.5rem);
  }
}
@media(min-width: 320px){
  .trend-card{
    width: 100%;
  }
  .trend-card-for-homepage{
    width: 100%;
  }
  .signal-card{
    width: 100%;
  }
}
@media(min-width: 704px){
  .signal-card{
    width: calc(50% - 0.5rem);
  }
}
@media(min-width: 1224px){
  .trend-card{
    width: calc(50% - 0.5rem);
  }
  .trend-card-for-homepage{
    width: calc(50% - 0.5rem);
  }
}
@media(min-width: 1312px){
  .signal-card{
    width: calc(33.3% - 0.67rem);
  }
}
@media(min-width: 1820px){  
  .trend-card{
    width: calc(33.3% - 0.67rem);
  }
  .trend-card-for-homepage{
    width: calc(33.33% - 0.67rem);
  }
}

@media(min-width: 1440px){
  .signal-card{
    width: calc(25% - 0.75rem);
  }
}
@media(min-width: 2196px){
  .signal-card{
    width: calc(20% - 0.8rem);
  }
}
@media(min-width: 2416px){  
  .trend-card{
    width: calc(25% - 0.75rem);
  }
  .trend-card-for-homepage{
    width: calc(33.33% - 0.67rem);
  }
}

.trend-image {
  text-decoration: none;
  width: 33.33%;
  @media (max-width: 600px) {
    display: none;
  }
}